.ibm-plex sans-thin {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex sans-extralight {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex sans-light {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex sans-thin-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex sans-extralight-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex sans-light-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex sans-regular-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex sans-medium-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex sans-semibold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex sans-bold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
    min-height: 100vh;
    color: #76ABAE;
}

h1{
    font-weight: 700;
}
.todoapp{
    margin: 3rem 0 0 0;
}
.welcome-msg{
    margin-bottom: 3rem;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-secondary-color);
}
.login-register{
    margin-top: 3rem;
}
.form-control{
    width: 70%;
    background-color: #EEEEEE;
    border: None;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #76ABAE;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #76ABAE;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: #76ABAE;
 }
.form-text{
    margin-bottom: 0.5rem;
}
.alert{
    width: 70%;
}
.index-lists{
    text-decoration: None;
    color: #76ABAE;
}
.main-link{
    text-decoration: None;
    color: #76ABAE;
}
.list-list{
    text-decoration: none;
    color: #76ABAE;
}
.edit-button{
    border: none;
    padding: 0;
}
.done-div{
    display: inline;
}
.check{
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin-right: 17rem;
    accent-color: green;
}
.check:checked:{
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin-right: 17rem;
    color: green;
}
.link-item{
    font-size: 1rem;
}
.task-link{
    font-size: 1.2rem;
}
.checked{
    color: #DDDDDD;
    text-decoration: line-through;
}
.rename-list{
    margin-top: 2rem;
}
.list-num{
    list-style-position: inside;
}
.footer{
    background-color: #76ABAE;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-text{
    padding: 1rem;
    font-size: 0.8rem;
}
.footer-link{
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 700px) {
  .todoapp{
    margin: 2rem 0 0 0;
  }
  .task-link{
    font-size: 1rem;
  }
  .link-item{
    font-size: 0.9rem;
    margin-left: -0.7rem;
  }
  .list-list{
    font-size: 0.7rem;
    font-weight: 500;
  }
  h2{
    font-size: 1.5rem;
  }
  .form-control{
  font-size: 0.8rem;
  }
  .btn{
    font-size: 0.8rem;
  }
  .check{
    width: 1rem;
    height: 1rem;
    float: right;
    margin-right: 5rem;
    accent-color: green;
}
.check:checked:{
    width: 1rem;
    height: 1rem;
    float: right;
    margin-right: 5rem;
    color: green;
}
.alert{
    width: 250px;
    font-size: 0.8rem;
   }

}


@media only screen and (max-width: 500px) {
  .todoapp{
    margin: 2rem 0 0 0;
  }
  .task-link{
    font-size: 1rem;
  }
  .link-item{
    font-size: 0.9rem;
    margin-left: -0.7rem;
  }
  .list-list{
    font-size: 0.5rem;
    font-weight: 500;
  }
  h2{
    font-size: 1rem;
  }
  .form-control{
  font-size: 0.8rem;
  }
  .btn{
    font-size: 0.8rem;
  }
  .form-control{
    width: 100%;
    background-color: #EEEEEE;
    border: None;
  }
  .mobile-des{
    margin-left: 3rem;
    margin-top: 1.3rem;
  }
  .mobile-todo{
    margin-right: 3rem;
  }
  .welcome-msg{
    margin-bottom: 1.5rem;
    margin-top: .25rem;
    font-size: .7rem;
    color: var(--bs-secondary-color);
  }
  .login-mob{
    margin-right: 5rem;
  }
  .check{
    width: 1rem;
    height: 1rem;
    float: right;
    margin-right: 2rem;
    accent-color: green;
  }
.check:checked:{
    width: 1rem;
    height: 1rem;
    float: right;
    margin-right: 2rem;
    color: green;
  }
  .alert{
    width: 250px;
    font-size: 0.8rem;
  }
}