{% extends "header.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row text-center">
            <div class="col-9 mx-auto">
              <a href="{{ url_for('index') }}" class="index-lists"><h1 class="todoapp">Todo App</h1></a>
              {% for message in get_flashed_messages()  %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="row text-center">
          <div class="col-9 mx-auto">
            <h2 class="rename-list">Delete {{ todo_list.list }}?</h2>
            <form method="POST">
              {{ form.hidden_tag() }}
              <input type="hidden" name="_method" value="DELETE">
              <div class="form-text">{{ form.delete_key.label }}</div>
              {{ form.delete_key }}
              {{ form.submit }}
            </form>
            <br>
            <br>
            <ol>
              {% for task in todo_tasks %}
              <li class="list-num">{{ task.task }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}