{% extends "header.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
            <div class="col-9 mobile-todo">
              <a href="{{ url_for('index') }}" class="index-lists"><h1 class="todoapp">Todo App</h1></a>
              <div class="welcome-msg">Welcome {{ current_user.username }}! What are you doing today?</div>
              {% for message in get_flashed_messages()  %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="row">
          <div class="col mobile-des">
            <h2>Todo Lists</h2>
            {% if logged_in: %}
            <ol class="itemList">
            {% for todo_list in list_db %}
              <li class="link-item">
                <a href="{{ url_for('list_page', list_id=todo_list.id) }}" class="main-link">{{ todo_list.list }}</a>
                <ul style="display: none;" class="dropdown-menu edit-links">
                 <li class="dropdown-item"><a href="{{ url_for('rename', list_id=todo_list.id) }}" class="index-lists">Rename</a></li>
                 <li class="dropdown-item"><a href="{{ url_for('delete_list', list_id=todo_list.id) }}" class="index-lists">Delete</a></li>
                </ul>
              </li>
            {% endfor %}
            </ol>
            {% endif %}
          </div>
          <div class="col-9 mobile-des">
            <h2>Create a new list</h2>
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="form-text">{{ form.new_task.label }}</div>
              {{ form.new_task }}
              {{ form.submit }}
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}