{% extends "header.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
            <div class="col-9">
              <a href="{{ url_for('index') }}" class="index-lists"><h1 class="todoapp">Todo App</h1></a>
              <div class="welcome-msg">Hi {{ current_user.username }}! Add your todo tasks below</div>
              {% for message in get_flashed_messages()  %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="{{ url_for('index') }}" class="index-lists"><h2>Todo Lists</h2></a>
              <a id="listName" class="list-list" href="#">{{ todo_list.list }}</a>
              <ul id="listLinks" style="display: none;" class="dropdown-menu edit-links">
               <li class="dropdown-item"><a href="{{ url_for('rename', list_id=todo_list.id) }}" class="index-lists">Rename</a></li>
               <li class="dropdown-item"><a href="{{ url_for('delete_list', list_id=todo_list.id) }}" class="index-lists">Delete</a></li>
              </ul>
          </div>
          <div class="col-9">
            <h2>Add a new task</h2>
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="form-text">{{ form.new_task.label }}</div>
              {{ form.new_task }}
              {{ form.submit }}
            </form>
            <br>
            <br>
            <div class="tasklist-div">
              <ol class="itemList">
                {% for task in todo_tasks %}
                <li class="link-item task-link">
                  <a id="{{ task.id }}" href="#" class="main-link taskText">{{ task.task }}</a>
                  <div class="done-div">
                    <input id="checkbox{{ task.id }}" class="check" type="checkbox" name="done">
                  </div>
                  <ul style="display: none;" class="dropdown-menu edit-links">
                    <li class="dropdown-item"><a href="{{ url_for('task_rename', task_id=task.id) }}" class="index-lists">Rename</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('task_delete', task_id=task.id) }}" class="index-lists">Delete</a></li>
                  </ul>
                </li>
                {% endfor %}
              </ol>
           </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}