{% extends "header.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row login-mob">
          <div class="col">
          </div>
            <div class="col-9">
              <a href="{{ url_for('index') }}" class="index-lists"><h1 class="todoapp">Todo App</h1></a>
            </div>
        </div>
        <div class="row login-mob">
          <div class="col">
            <h2></h2>
          </div>
          <div class="col-9">
            {% for message in get_flashed_messages()  %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            <h2 class="login-register">Register</h2>
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="form-text">{{ form.email.label }}</div>
              {{ form.email }}
              <div class="form-text">{{ form.username.label }}</div>
              {{ form.username }}
              <div class="form-text">{{ form.password.label }}</div>
              {{ form.password }}
              {{ form.submit }}
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}