{% extends "header.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
            <div class="col-9">
              <a href="{{ url_for('index') }}" class="index-lists"><h1 class="todoapp">Todo App</h1></a>
              {% for message in get_flashed_messages()  %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="row">
          <div class="col">
          </div>
          <div class="col-9">
            <h2 class="rename-list">Delete {{ todo_task.task }}?</h2>
            <form method="POST">
              {{ form.hidden_tag() }}
              <input type="hidden" name="_method" value="DELETE">
              {{ form.submit }}
            </form>
            <br>
            <br>
            <p>{{ todo_task.task }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}